{% extends 'layout.html' %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="{{ url_for('home') }}" class="navbar-brand h1 mb-0">CCI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapsecontent" aria-controls="navbarcollapsecontent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarcollapsecontent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for('codifica') }}" class="nav-link">Codifica</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('decodifica') }}" class="nav-link">Decodifica</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="color: rgb(77, 76, 76); font-size: large;">
    <center>
        <p class="mt-5 h3 mb-4">Benvenuto!</p>
        <p>In questo sito è possibile <a href="{{ url_for('codifica') }}" style="text-decoration: none;" class="link-info">codificare</a> e <a href="{{ url_for('decodifica') }}" style="text-decoration: none;" class="link-info">decodificare</a> testo utilizzado immagini.</p>
        <p>Sono supportate solo immagini con estensione .jpg e .png</p>
        <p>Sono supportati caratteri ascii fino a 126 in base decimale quindi sono esclusi caratteri accentati e simboli latini usali a tuo rischio e pericolo</p>
    </center>
</div>

{% endblock %}